<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
    </bean>

    <bean id="userRepository" class="repository.UserRepository">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="serverImpl" class="service.ServerImpl">
        <constructor-arg ref="userRepository"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Template"/>
        <property name="service" ref="serverImpl"/>
        <property name="serviceInterface" value="service.IServerImpl"/>
        <property name="servicePort" value="1099"/>
    </bean>

</beans>